- name: "Controlla se il registry è già attivo"
  ansible.builtin.command: "{{ container_binary }} ps -q -f name={{ registry_name }}"
  register: registry_check
  changed_when: false
  ignore_errors: true

- name: "Avvia il Registry Container (se non attivo)"
  ansible.builtin.command:
    cmd: >
      {{ container_binary }} run -d 
      -p {{ registry_port }}:5000 
      --restart=always 
      --name {{ registry_name }} 
      registry:2
  when: registry_check.stdout == ""
